body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#eceef0,#e1e6e6);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#fff;
    padding:25px;
    border-radius:10px;
    width:350px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

h2{
    text-align:center;
}

label{
    display:block;
    margin-top:10px;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:10px;
}

button{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    background:#090101;
    color:white;
    cursor:pointer;
    font-size:16px;
    border-radius:5px;
}

button:hover{
    background:#0056b3;
}

#result{
    text-align:center;
    color:green;
    margin-top:20px;
}